.main-footer{
   /* background-image: url("./footer.jpeg"); */
   background-color:grey;
   position: absolute;
   bottom: 0 ;
  }
  .list-unstyled {
    color:white;
  }

  .main-footer h4  {

    color:white;
  }


  .main-footer h4  {

    color:white;
  }
  .row {
    text-align: center;
    vertical-align: middle;
  }